{% extends 'base.html' %}

{% block head%}
<title>
    Todo
</title>
{%endblock%}

{% block body%}
<div class="container" style="margin-top: 8rem;">
    <div class="row d-flex justify-content-center">
        <div class="col-4">
            <ul class="list-group">
                {% for task in tasks %}
                    {% if task.author==current_user %}
                    <a href="{{url_for('display')}}">                            
                        <li class="list-group-item ">{{task.title}}
                        </li>
                    </a>
            </ul>            
                    {%endif%}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{%endblock%}
