{% extends 'base.html' %}
{% block head%}
<title>
    Todo
</title>
{%endblock%}

{% block nav%}
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('home')}}">
      <img src="{{url_for('static',filename='task.jpg')}}" width="30" height="30" class="d-inline-block align-top" alt="">
      Todo
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('post') }}">Add Task</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Welcome! {{current_user.username.capitalize()}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    {%endblock%}

  {% block body%}
  {% if tasks == []%}
  <div class="alert alert-warning" role="alert">
      No Tasks available
  </div>
  {%else%}
  <div class="table-responsive-md">
      <table class="table table-borderless">
          <thead>
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">Task</th>
                  <th scope="col">Date</th>
                  <th scope="col">Update</th>
                  <th scope="col">Delete</th>
              </tr>
          </thead>
          <tbody>
              {%for task in tasks%}
              <tr>
                  {%if task.author==current_user%}
                  <td>{{task.id}}</td>
                  <td>{{task.content}}</td>
                  <td>{{task.date_created.date()}}</td>
                  <td>
                      <a class="btn btn-primary"
                      href="/update/{{task.id}}">Update</a>
                  </td>
                  <td>
                      <a class="btn btn-danger" style="margin-right: 10px;"
                          href="/delete/{{task.id}}">Delete</a>
                  </td>
                  {%endif%}
              </tr>
              {%endfor%}
          </tbody>
      </table>
      {%endif%}
  </div>
{%endblock%}