{%extends 'base.html'%}

{% block head%}
<title>
    TODO
</title>
{%endblock%}

{% block body%}

<div class="container">
    <div class="content">
        {% if tasks| length < 1  %}
        <h4>No task posted</h4>
    </div>
    {%else%}
    <table class="striped">
        <thead>
            <tr>
                <th>Task</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{task.content}}</td>
                <td>{{task.date_created.date()}}</td>
                <td>
                    <a class="waves-effect waves-light btn" href="/delete/{{task.id}}">Delete</a>
                    <a class="waves-effect waves-light btn" href="/update/{{task.id}}">Update</a>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {%endif%}
    <form action="/" method="POST">
        <input placeholder="Enter the task " id="content" type="text" name="content" class="validate">

        <button class="btn waves-effect waves-light" type="submit" name="action">Add Task
            <i class="material-icons left">send</i>
        </button>

    </form>

</div>
{%endblock%}