body {
  font-family: "Fira Sans", sans-serif;
  background-color: aliceblue;
}
.navbar {
  background-color: #7d8dd0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

input[type="checkbox"]:checked + label.strikethrough {
  text-decoration: line-through;
}
